body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    background-color: #dee0e1;
}
/* 
Estilos del header
*/
.headerStyle {
    display: flex;
    justify-content: center;
    background-color: #C70039;
    width: 100%;
}
/* Estilos para las imágenes */
.headerStyle img {
    width: 10%;
    min-width: 200px;
    height: auto;
    padding: 15px 0 15px 0; /* padding: top right bottom left; */
}


/* 
Contenedor General.
*/
.container {
    width: 95%;
    margin: 0 auto;
}
/* 
Estilos de sección Bienvenida.
*/
.bienvenido p{
    text-align: justify;
    margin: 15px;
    font-size:large;
}


/* 
Estilos de sección Instrucciones.
*/
.instrucciones {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
}
/* Icono de instrucciones. */
.instrucciones img {
    width: 45px;
    margin: 15px;
}


/* 
Estilos Sección de Botonería.
*/
.btn-section {
    background-color:#FF6969; /* #3085C3 */
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}
/* Contenedor de todos las cards. */
.botoneria{
    background-color: #ffdede;/* #d9e5e7e0 */
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}
h1{
    color: #ffffff;
    text-align: center;
    margin: 0px 0px 20px 0px;
}
/* Cada card */
.button-card{
    padding: 10px;
    text-align: center;
}
/* Texto que contiene cada card. */
.button-card p{
    max-width: 230px;
    margin-bottom: 0;
}
/* img del icono que tiene cada card. */
.imgIcono{
    width: 70px;
}


/* 
Estilos de Boton Continuar
*/
.btn-continuar {
    text-align: center;
    margin: 12px 0px 20px 0px;
}
.redirect-button {
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 25px 10px 25px;
    text-decoration: none;
    border-radius: 17px;
    box-shadow: 0px 1px 3px #666666;
    text-shadow: 1px 1px 3px #666666;
    border: solid #ffffff 2px;
    background-color: #12486B;
    cursor: pointer;
}
.redirect-button:hover {
    background: #141E46;
}